<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application>
        <activity
            android:name="com.lazylibs.webviewer.core.WebViewer"
            android:screenOrientation="portrait" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/fb_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/fb_client_token" />
<!--        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="fb571456748295736"/>-->
<!--        <meta-data android:name="com.facebook.sdk.ClientToken" android:value="141248e75b210a9162afa09677e0e5c1"/>-->
    </application>
    <!--    <queries>-->
    <!--        <provider android:authorities="com.facebook.katana.provider.PlatformProvider" />-->
    <!--    </queries>-->
</manifest>